@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100%;
  min-height: 100vh;
  background: #d5e1ef;
  font-family: "Outfit";
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  height: 497px;
  width: 320px;
  background: #ffffff;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
  border-radius: 20px;
  text-align: center;
}

img {
  display: block;
  width: 90%;
  margin: 15px auto 5px;
  border-radius: 10px;
}

.text-container {
  padding: 10px;
}

h1 {
  font-size: 22px;
  margin: 15px 0;
  color: #1f314f;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
}

p {
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.1875px;
  color: #7d889e;
  width: 90%;
  margin: auto;
}
