@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

:root {
  /* Primary colors */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral colors */
  --transparent-white: hsla(0, 0%, 100%, 0.75); /* (paragraphs) */
  --very-light-gray: hsl(0, 0%, 95%); /* (background, headings, buttons) */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100%;
  min-height: 100vh;
  background: var(--very-light-gray);
}

img,
h1,
p {
  margin-bottom: 30px;
}

h1 {
  font-family: "Big Shoulders Display";
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--very-light-gray);
}

p,
button {
  font-family: Lexend Deca;
  font-size: 0.938rem;
  line-height: 1.67;
}

p {
  color: var(--transparent-white);
  opacity: 0.75;
}

button {
  border: none;
  padding: 10px 30px;
  border-radius: 25px;
  background-color: var(--very-light-gray);
}

.panel-container {
  max-width: 327px;
  margin: 60px auto 0;
  border-radius: 8px;
  overflow: hidden;
}

.panel {
  padding: 40px 50px;
}

.panel:nth-of-type(1) {
  background-color: var(--bright-orange);
}

.panel:nth-of-type(1) button {
  color: var(--bright-orange);
}

.panel:nth-of-type(2) {
  background-color: var(--dark-cyan);
}

.panel:nth-of-type(2) button {
  color: var(--dark-cyan);
}

.panel:nth-of-type(3) {
  background-color: var(--very-dark-cyan);
}

.panel:nth-of-type(3) button {
  color: var(--very-dark-cyan);
}

.panel button:hover {
  cursor: pointer;
  background-color: inherit;
  padding: 8px 28px;
  color: var(--very-light-gray);
  border: 2px solid var(--very-light-gray);
  color: var(--very-light-gray);
}

@media only screen and (min-width: 992px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    margin-bottom: 80px;
  }

  .panel-container {
    display: flex;
    max-width: 920px;
  }

  .panel {
    width: 33.33%;
    padding: 50px;
  }
}
