:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100%;
  min-height: 100vh;
  font-family: Epilogue;
  background-color: var(--Almost-White);
}

header {
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

header img {
  cursor: pointer;
}

/* Mobile naviation section */
div#mobile-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 35%;
  height: 100vh;
  background-color: hsla(0, 0%, 8%, 0.8);
}

nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: var(--Almost-White);
  width: 65%;
  height: 100vh;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

nav > img {
  cursor: pointer;
}

img#mobile-nav-close-btn {
  display: block;
  position: relative;
  left: 80%;
  margin-bottom: 1rem;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  padding: 0.75rem 0;
  color: var(--Medium-Gray);
  cursor: pointer;
}

li#features > img,
li#company > img {
  margin-left: 0.5rem;
}

li#features ul,
li#company ul {
  display: none;
}

li#features li {
  margin-left: 2rem;
  padding-left: 0.5rem;
}

li#todo-list {
  list-style-image: url("./images/icon-todo.svg");
  margin-top: 1rem;
}

li#calendar {
  list-style-image: url("./images/icon-calendar.svg");
}

li#reminders {
  list-style-image: url("./images/icon-reminders.svg");
}

li#planning {
  list-style-image: url("./images/icon-planning.svg");
}

li#company li {
  margin-left: 1rem;
}

li#company ul {
  margin-top: 1rem;
}

div.nav-bottom-section {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}

div.nav-bottom-section button {
  cursor: pointer;
  background-color: inherit;
  border: none;
  color: var(--Medium-Gray);
  font-weight: 700;
  margin: 1rem 0 0.5rem;
}

div.nav-bottom-section button:nth-of-type(2) {
  border: 2px solid var(--Medium-Gray);
  padding: 0.75rem;
  border-radius: 0.75rem;
}
/* End of mobile naviation section */

main {
  text-align: center;
}

main > img {
  display: block;
  width: 100%;
  margin-bottom: 3rem;
}

h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--Almost-Black);
  margin-bottom: 1.5rem;
}

p {
  font-size: 0.938rem;
  line-height: 1.5;
  font-weight: 500;
  color: var(--Medium-Gray);
  padding: 0 1.5rem;
  margin-bottom: 2rem;
}

section button {
  color: var(--Almost-White);
  background-color: var(--Almost-Black);
  font-family: inherit;
  font-size: 0.938rem;
  font-weight: 700;
  border: none;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  margin-bottom: 2.5rem;
}

div.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.image-container img {
  width: 25%;
  transform: scale(0.7);
}

@media only screen and (min-width: 700px) {
  body {
    padding: 1rem;
  }

  header {
    margin: auto;
    margin-bottom: 8rem;
    justify-content: flex-start;
    max-width: 1407px;
  }

  header > img {
    margin-right: 4rem;
  }

  /* Desktop navigation section */
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: static;
    top: auto;
    right: auto;
    z-index: auto;
    background-color: var(--Almost-White);
    width: 100%;
    height: auto;
    padding: 0;
  }

  img#mobile-nav {
    display: none;
  }

  img#mobile-nav-close-btn {
    display: none;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-right: 3rem;
    font-size: 0.875rem;
    padding: 0.5rem 0;
  }

  nav li:hover {
    color: var(--Almost-Black);
  }

  li#features > img,
  li#company > img {
    margin-left: 0;
  }

  li#features {
    position: relative;
  }

  li#features ul {
    display: none;
    position: absolute;
    top: 110%;
    left: -100%;
    padding: 0.25rem 0 0.25rem 0.25rem;
    background-color: #fff;
    border-radius: 0.625rem;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
  }

  li#features:hover ul {
    display: block;
  }

  li#features ul li {
    margin-top: 0;
    margin-right: 2rem;
  }

  li#company {
    position: relative;
  }

  li#company ul {
    display: none;
    position: absolute;
    top: 60%;
    left: 0;
    padding: 1rem 0;
    background-color: #fff;
    border-radius: 0.625rem;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
  }

  li#company:hover ul {
    display: block;
  }

  li#features:hover img,
  li#company:hover img {
    transform: rotate(180deg);
  }

  li#company li {
    margin: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  nav div.nav-bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    font-size: 0.875rem;
  }

  nav div.nav-bottom-section button {
    margin: 0 1rem;
  }

  nav div.nav-bottom-section button:hover {
    color: var(--Almost-Black);
  }

  div.nav-bottom-section button:nth-of-type(2) {
    padding: 0.75rem 1.5rem;
  }

  div.nav-bottom-section button:nth-of-type(2):hover {
    border: 2px solid var(--Almost-Black);
  }
  /* End of desktop nagivation section */
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin: auto;
    width: 80%;
    max-width: 1127px;
    height: 50vh;
  }

  main > img {
    margin: 0;
    content: url(./images/image-hero-desktop.png);
    width: 40%;
  }

  section {
    width: 60%;
    height: 100%;
    text-align: left;
  }

  h1 {
    font-size: 5rem;
    width: 80%;
    margin-top: 1.5rem;
  }

  p {
    font-size: 1.125rem;
    width: 70%;
    margin: 3rem 0;
    padding: 0;
  }

  div.image-container {
    width: 70%;
  }

  div.image-container img {
    width: 25%;
    transform: scale(0.7);
  }

  section button {
    margin-bottom: 4rem;
    cursor: pointer;
    transition: 0.3s ease all;
  }

  section button:hover {
    background-color: var(--Almost-White);
    color: var(--Almost-Black);
    border: 1px solid var(--Almost-Black);
    padding: calc(1rem - 1px) calc(1.5rem - 1px);
    transition: 0.3s ease all;
  }
}
