@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* Primary */
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);

  /* Accent */
  --blue: hsl(248, 32%, 49%);

  /* Neutral */
  --dark-blue: hsl(249, 10%, 26%);
  --dark-blue-alpha: hsla(
    249,
    10%,
    26%,
    0.3
  ); /* Used for border shadows on containers */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 110vh;
  font-size: 16px;
  font-family: Poppins;
  background: var(--red) url("images/bg-intro-mobile.png");
}

header {
  width: 100%;
  text-align: center;
  padding: 70px 40px 50px;
}

h1,
p {
  color: white;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 20px;
}

p {
  font-size: 0.9em;
  font-weight: 400;
}

span {
  font-weight: 700;
}

form {
  width: 90%;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px var(--dark-blue-alpha);
}

input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  font-family: Poppins;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

input[type="button"] {
  background-color: var(--green);
  border: none;
  font-size: 1em;
  text-transform: uppercase;
  color: white;
  box-shadow: 0 3px var(--dark-blue-alpha);
  margin-bottom: 15px;
}

a {
  color: var(--red);
  text-decoration: none;
  font-weight: 700;
}

.outer-container {
  width: 375px;
  margin: auto;
}

.offer-content {
  width: 90%;
  margin: auto;
  text-align: center;
  background-color: var(--blue);
  padding: 20px 50px;
  border-radius: 10px;
  box-shadow: 0 6px var(--dark-blue-alpha);
  margin-bottom: 20px;
}

.terms-services {
  width: 100%;
  text-align: center;
  padding: 0 25px;
}

.terms-services > p {
  color: lightgrey;
  font-weight: 500;
  font-size: 0.7em;
  line-height: 1.5em;
}

@media only screen and (min-width: 1200px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--red) url("images/bg-intro-desktop.png");
  }

  header {
    text-align: left;
    padding: 0 20px 0 0;
  }

  h1 {
    font-size: 2.5em;
    line-height: 1.1em;
  }

  form {
    margin: 0;
    width: 100%;
    padding: 30px;
  }

  input {
    cursor: pointer;
  }

  .outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1025px;
  }

  header,
  .offer-container {
    width: 50%;
  }

  .offer-content {
    width: 100%;
    margin: 0 0 20px;
    padding: 15px;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    outline: none;
    border: 1px solid var(--dark-blue);
  }

  input[type="button"] {
    padding: 10px;
    font-size: 0.9em;
    transition: 0.3s ease all;
  }

  input[type="button"]:hover {
    opacity: 0.8;
    transition: 0.3s ease all;
  }

  .terms-services > p {
    font-size: 0.7em;
  }
}
